@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,800;1,300;1,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0px;
    padding: 0px;
    
    
}

.main-part {
    color: #fff;
    font-family: "Poppins";
    background-image: linear-gradient(to right bottom, rgba(255, 0, 0, 0.259), rgba(0, 128, 0, 0.314)), url("./pics/bg.jpg");
    height: 95vh;
    background-position: center;
    background-size: cover;
    padding-top: 5vh;
}

/* nav bar design */
.hamicon  {
    display: none;
}
.navbar{
    display: flex;
    justify-content: space-around;
    margin-left: 100px;
    margin-right: 100px;
    height: 10vh;
    align-items: center;
}

.logo {
    width: 10%;
}

.controls {
    flex-grow: 1;
    display: flex;
    gap: 80px;
    justify-content: right;
}

a {
    text-decoration: none;
    color: #fff;
}

a:hover {
    color: rgb(219, 24, 24);
    scale: 115%;

}

.call {
    margin-left: 100px;
    display: grid;
    grid-template-columns: 0.4fr 1fr;
}

.callphone {
    font-size: 1.5rem;
    align-items: center;
    padding-top: 10px;
    transform: rotate(-20deg);

}

.contact {
    padding-left: 5px;
    font-size: 13px;
    text-align: left;
}


/* divider */

.divider{
    margin-top: 15px;
    background-color: #fff;
    height: 2px;
    width: 60vw;
    margin-left: 32vw;
    margin-right: 8vw;
    display: block;
    
}

/* hero part  */

.hero-banner {
    height: 80vh;
    display: flex;
    justify-content: left;

}
.maintext {
    margin-top: 150px;
    font-size: 4.5rem;
    margin-left: 150px;
    font-family: "Roboto";
    color: rgb(210, 205, 205);
}

.learnmore {
    margin-top: 50px;
    color: #fff;
    border: 2px solid #fff;
    font-size: 1rem;
    width: fit-content;
    padding: 15px 50px;
    border-radius: 3rem;
    transition: box-shadow 300ms ease-in-out;
    
}

.learnmore:hover {
    scale: 115%;
    box-shadow: 0 5px 30px #000 inset;

}

.puzzle{
    display: inline-block;
    background-color: #003b457d;
    position: absolute;
    height: 15%;
    width: 15%;
    top: 30vh;
    right: 12vw;
    padding: 15px;
}

.bulb {
    display: inline-block;
    background-color: #003b457d;
    position: absolute;
    height: 15%;
    width: 15%;
    top: 70vh;
    right: 25vw;
    padding: 15px;
}

.puzzle img{
    width: 30%;
    
}

.bulb img {
    width: 30%;
   
}



/* responsive */

@media screen and (max-width:1281px) {
    .maintext {
        font-size: 3.5rem;
    }
    .puzzle, .bulb { 
        font-size: 0.8rem;
    }
     
}


@media screen and (max-width:1254px) {
    .navbar{
        margin-left: 50px;
        margin-right: 50px;
    }

    .controls {
        gap: 40px;

    }

    
}



@media screen and (max-width:1150px) { 
    .maintext {
        font-size: 2.5rem;
    }
    .controls {
        gap: 20px;
    }

    .call {
        margin-left: 20px;
    }

    .callphone {
        font-size: 1rem;
    
    }
    .contact {
        padding-left: 5px;
        font-size: 10px;
    }

}

@media screen and (max-width:820px) { 
    .maintext {
        font-size: 2rem;
    }

    .navbar{
        margin-left: 30px;
        margin-right: 30px;
    }

}



@media screen and (max-width:700px) { 
    .maintext {
        font-size: 2rem;
        margin-left: 10px;
        margin-right: 10px;
        text-align: center;
        align-items: center;
        margin-top: 20vh;
    }

    .navbar{
        display:none ;

    }

    .divider{ 
        display: none;
    }

    .hamicon {
        display: inline;
        margin-left: 20px;
        font-size: 3rem;
    }

    .hero-banner {
        display: block;
        text-align: center;
    }

    .puzzle{ 
        position: static;
        width: 40%;
        height: auto;
        float: left;
        padding-bottom: 30px;

    }

    .bulb { 
        position: static;
        width: 40%;
        height: auto;
        float: right;

    }

    .learnmore { 
        text-align: center;
        margin: 15px auto;
    }

    .hero-banner{
        height: auto;
    }
}



